# EDA for Lending Club Loan Data

In [1]:
%matplotlib notebook
import pandas as pd
from matplotlib import pyplot as plt
import csv
import json
import seaborn as sns
from collections import Counter
from IPython.core.interactiveshell import InteractiveShell
# allow for multiple print statements from a single cell
InteractiveShell.ast_node_interactivity = "all"

# set print options to display all columns and rows unless specified otherwise
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Data Ingestion
We begin by getting the paths of the dataset (loan.csv) and data dictionary (LCDataDictionary.xlsx) from config.json and then ingesting the two files from our local file system.

In [2]:
with open('config.json') as json_data_file:
    data = json.load(json_data_file)
    pathToLoanCSV = data['pathToInput']
    pathToDataDict = data['dataDict']
    


if pathToLoanCSV == "" or pathToDataDict == "":
    print('Error importing config file')
    
# convert the csv file into a pandas dataframe
loans = pd.read_csv(pathToLoanCSV,
                        sep=','
                        )
# data dictionary so we can easily access the meaning of columns
datadict = pd.read_excel(pathToDataDict)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Print all columns of the loans dataframe and all rows of the datadict dataframe.

In [3]:
list_of_cols = loans.columns.tolist()
list_of_cols
datadict_rows_list = datadict['LoanStatNew'].tolist()
datadict_rows_list

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'disbursement_method',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

['acc_now_delinq',
 'acc_open_past_24mths',
 'addr_state',
 'all_util',
 'annual_inc',
 'annual_inc_joint',
 'application_type',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'collection_recovery_fee',
 'collections_12_mths_ex_med',
 'delinq_2yrs',
 'delinq_amnt',
 'desc',
 'dti',
 'dti_joint',
 'earliest_cr_line',
 'emp_length',
 'emp_title',
 'fico_range_high',
 'fico_range_low',
 'funded_amnt',
 'funded_amnt_inv',
 'grade',
 'home_ownership',
 'id',
 'il_util',
 'initial_list_status',
 'inq_fi',
 'inq_last_12m',
 'inq_last_6mths',
 'installment',
 'int_rate',
 'issue_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'last_pymnt_amnt',
 'last_pymnt_d',
 'loan_amnt',
 'loan_status',
 'max_bal_bc',
 'member_id',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_last_delinq',
 'mths_since_last_major_derog',
 'mths_since_last_record',
 'mths_since_rcnt_il',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'next_pymnt_d',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'open_acc',
 'open_acc_6m',
 'open_il_12m',
 'open_il_24m',
 'open_act_il',
 'open_rv_12m',
 'open_rv_24m',
 'out_prncp',
 'out_prncp_inv',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'policy_code',
 'pub_rec',
 'pub_rec_bankruptcies',
 'purpose',
 'pymnt_plan',
 'recoveries',
 'revol_bal',
 'revol_util',
 'sub_grade',
 'tax_liens',
 'term',
 'title',
 'tot_coll_amt',
 'tot_cur_bal',
 'tot_hi_cred_lim',
 'total_acc',
 'total_bal_ex_mort',
 'total_bal_il',
 'total_bc_limit',
 'total_cu_tl',
 'total_il_high_credit_limit',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_int',
 'total_rec_late_fee',
 'total_rec_prncp',
 'total_rev_hi_lim \xa0',
 'url',
 'verification_status',
 'verified_status_joint',
 'zip_code',
 'revol_bal_joint ',
 'sec_app_fico_range_low ',
 'sec_app_fico_range_high ',
 'sec_app_earliest_cr_line ',
 'sec_app_inq_last_6mths ',
 'sec_app_mort_acc ',
 'sec_app_open_acc ',
 'sec_app_revol_util ',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts ',
 'sec_app_chargeoff_within_12_mths ',
 'sec_app_collections_12_mths_ex_med ',
 'sec_app_mths_since_last_major_derog ',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'disbursement_method',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term',
 nan,
 nan]

See the shape of rows and columns of loans and datadict dataframes.

In [4]:
loans.shape
datadict.shape

(2260668, 145)

(153, 2)

Since 153 > 145, let's find the missing columns that are in datadict but not in loans.

In [5]:
cols_not_in_loans = [x for x in list_of_cols if x not in datadict_rows_list]
cols_not_in_loans

['verification_status_joint',
 'total_rev_hi_lim',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog']

As a point of reference, here we can see the meaning of each of the rows from the datadict.

In [6]:
datadict.style.set_properties(subset=['Description'], **{'width':'600px'})

Let's look at the first 10 rows of the loans dataset.

In [7]:
loans.head(10)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0.0,Apr-2001,1.0,NaN,45.0,9.0,1.0,4341,10.3,34.0,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,Feb-2019,84.92,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,16901.0,2.0,2.0,1.0,2.0,2.0,12560.0,69.0,2.0,7.0,2137.0,28.0,42000.0,1.0,11.0,2.0,9.0,1878.0,34360.0,5.9,0.0,0.0,140.0,212.0,1.0,1.0,0.0,1.0,NaN,2.0,NaN,0.0,2.0,5.0,3.0,3.0,16.0,7.0,18.0,5.0,9.0,0.0,0.0,0.0,3.0,100.0,0.0,1.0,0.0,60124.0,16901.0,36500.0,18124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0.0,Jun-1987,0.0,71.0,75.0,13.0,1.0,12315,24.2,44.0,w,29387.75,29387.75,1507.11,1507.11,612.25,894.86,0.0,0.0,0.0,Feb-2019,777.23,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,1208.0,321915.0,4.0,4.0,2.0,3.0,3.0,87153.0,88.0,4.0,5.0,998.0,57.0,50800.0,2.0,15.0,2.0,10.0,24763.0,13761.0,8.3,0.0,0.0,163.0,378.0,4.0,3.0,3.0,4.0,NaN,4.0,NaN,0.0,2.0,4.0,4.0,9.0,27.0,8.0,14.0,4.0,13.0,0.0,0.0,0.0,6.0,95.0,0.0,1.0,0.0,372872.0,99468.0,15000.0,94072.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0.0,Apr-2011,0.0,NaN,NaN,8.0,0.0,4599,19.1,13.0,w,4787.21,4787.21,353.89,353.89,212.79,141.10,0.0,0.0,0.0,Feb-2019,180.69,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,110299.0,0.0,1.0,0.0,2.0,14.0,7150.0,72.0,0.0,2.0,0.0,35.0,24100.0,1.0,5.0,0.0,4.0,18383.0,13800.0,0.0,0.0,0.0,87.0,92.0,15.0,14.0,2.0,77.0,NaN,14.0,NaN,0.0,0.0,3.0,3.0,3.0,4.0,6.0,7.0,3.0,8.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,136927.0,11749.0,13800.0,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,IT Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,985xx,WA,16.74,0.0,Feb-2006,0.0,NaN,NaN,10.0,0.0,5468,78.1,13.0,w,3831.93,3831.93,286.71,286.71,168.07,118.64,0.0,0.0,0.0,Feb-2019,146.51,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,686.0,305049.0,1.0,5.0,3.0,5.0,5.0,30683.0,68.0,0.0,0.0,3761.0,70.0,7000.0,2.0,4.0,3.0,5.0,30505.0,1239.0,75.2,0.0,0.0,62.0,154.0,64.0,5.0,3.0,64.0,NaN,5.0,NaN,0.0,1.0,2.0,1.0,2.0,7.0,2.0,3.0,2.0,10.0,0.0,0.0,0.0,3.0,100.0,100.0,0.0,0.0,385183.0,36151.0,5000.0,44984.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,212xx,MD,26.35,0.0,Dec-2000,0.0,NaN,NaN,12.0,0.0,829,3.6,26.0,w,29339.02,29339.02,1423.21,1423.21,660.98,762.23,0.0,0.0,0.0,Feb-2019,731.78,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,116007.0,3.0,5.0,3.0,5.0,4.0,28845.0,89.0,2.0,4.0,516.0,54.0,23100.0,1.0,0.0,0.0,9.0,9667.0,8471.0,8.9,0.0,0.0,53.0,216.0,2.0,2.0,2.0,2.0,NaN,13.0,NaN,0.0,2.0,2.0,3.0,8.0,9.0,6.0,15.0,2.0,12.0,0.0,0.0,0.0,5.0,92.3,0.0,0.0,0.0,157548.0,29674.0,9300.0,32332.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,5550,5550,5550.0,36 months,15.02,192.45,C,C3,Director COE,10+ years,MORTGAGE,152500.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,461xx,IN,37.94,0.0,Sep-2002,3.0,NaN,NaN,18.0,0.0,53854,48.1,44.0,w,5302.50,5302.50,377.95,377.95,247.50,130.45,0.0,0.0,0.0,Feb-2019,192.45,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,685749.0,1.0,7.0,2.0,3.0,4.0,131524.0,72.0,1.0,4.0,17584.0,58.0,111900.0,2.0,4.0,6.0,8.0,40338.0,23746.0,64.0,0.0,0.0,195.0,176.0,10.0,4.0,6.0,20.0,NaN,3.0,NaN,0.0,4.0,6.0,6.0,10.0,23.0,9.0,15.0,7.0,18.0,0.0,0.0,0.0,4.0,100.0,60.0,0.0,0.0,831687.0,185378.0,65900.0,203159.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,2000,2000,2000.0,36 months,17.97,72.28,D,D1,Account Manager,4 years,RENT,51000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,606xx,IL,2.40,0.0,Nov-2004,1.0,NaN,NaN,1.0,0.0,0,NaN,9.0,w,1914.71,1914.71,141.56,141.56,85.29,56.27,0.0,0.0,0.0,Feb-2019,72.28,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,854.0,0.0,0.0,2.0,3.0,7.0,0.0,NaN,0.0,1.0,0.0,100.0,0.0,0.0,0.0,1.0,4.0,854.0,NaN,NaN,0.0,0.0,169.0,40.0,23.0,7.0,0.0,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,3.0,5.0,0.0,3.0,0.0,1.0,0.0,0.0,0.0,2.0,100.0,NaN,0.0,0.0,854.0,854.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,6000,6000,6000.0,36 months,13.56,203.79,C,C1,Assistant Director,10+ years,RENT,65000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,460xx,IN,30.10,0.0,Nov-1997,0.0,NaN,NaN,19.0,0.0,38476,69.3,37.0,w,5864.01,5864.01,201.53,201.53,135.99,65.54,0.0,0.0,0.0,Feb-2019,208.31,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,91535.0,0.0,5.0,0.0,1.0,23.0,53059.0,87.0,0.0,2.0,9413.0,74.0,55500.0,1.0,2.0,0.0,3.0,5085.0,3034.0,90.8,0.0,0.0,169.0,253.0,13.0,13.0,1.0,14.0,NaN,13.0,NaN,0.0,7.0,12.0,8.0,10.0,15.0,14.0,20.0,12.0,19.0,0.0,0.0,0.0,0.0,100.0,85.7,0.0,0.0,117242.0,91535.0,33100.0,61742.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Legal Assistant III,10+ years,MORTGAGE,53580.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,327xx,FL,21.16,0.0,Aug-1998,1.0,32.0,NaN,8.0,0.0,8018,35.2,38.0,w,4786.79,4786.79,353.89,353.89,213.21,140.68,0.0,0.0,0.0,Feb-2019,180.69,Mar-2019,Feb-2019,0.0,45.0,1,Individual,NaN,NaN,NaN,0.0,0.0,41882.0,5.0,2.0,5.0,5.0,3.0,33864.0,98.0,1.0,6.0,3132.0,73.0,22800.0,2.0,1.0,4.0,12.0,5235.0,13786.0,35.9,0.0,0.0,145.0,244.0,6.0,3.0,3.0,6.0,33.0,2.0,32.0,2.0,4.0,5.0,5.0,10.0,20.0,6.0,15.0,5.0,8.0,0.0,0.0,0.0,6.0,78.9,60.0,0.0,0.0,57426.0,41882.0,21500.0,34626.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,6000,6000,6000.0,36 months,14.47,206.44,C,C2,NaN,< 1 year,OWN,300000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,068xx,CT,17.43,1.0,Apr-2002,1.0,17.0,NaN,38.0,0.0,65950,49.8,58.0,w,5730.20,5730.20,405.64,405.64,269.80,135.84,0.0,0.0,0.0,Feb-2019,206.44,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,349502.0,1.0,4.0,1.0,3.0,7.0,39961.0,45.0,1.0,12.0,15926.0,48.0,132500.0,2.0,2.0,2.0,15.0,9197.0,38683.0,60.6,0.0,0.0,166.0,200.0,4.0,4.0,1.0,4.0,NaN,4.0,17.0,0.0,16.0,20.0,19.0,26.0,9.0,33.0,48.0,20.0,38.0,0.0,0.0,0.0,2.0,100.0,26.3,0.0,0.0,477390.0,105911.0,98300.0,89600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## Counting non-null values
From the above output, we can see that there are a significant amount of null values, especially for the the id and member_id fields. Now I will use count to count the amount of non-null values in each column.

In [8]:
countDf = loans.count()
countDf.sort_values()

id                                                  0
member_id                                           0
url                                                 0
orig_projected_additional_accrued_interest       8426
hardship_reason                                 10613
hardship_status                                 10613
deferral_term                                   10613
hardship_amount                                 10613
hardship_start_date                             10613
hardship_end_date                               10613
payment_plan_start_date                         10613
hardship_dpd                                    10613
hardship_type                                   10613
hardship_loan_status                            10613
hardship_payoff_balance_amount                  10613
hardship_last_payment_amount                    10613
hardship_length                                 10613
debt_settlement_flag_date                       33056
settlement_status                               33056
settlement_date                                 33056
settlement_amount                               33056
settlement_percentage                           33056
settlement_term                                 33056
sec_app_mths_since_last_major_derog             35942
sec_app_revol_util                             106184
revol_bal_joint                                108020
sec_app_open_acc                               108021
sec_app_earliest_cr_line                       108021
sec_app_inq_last_6mths                         108021
sec_app_collections_12_mths_ex_med             108021
sec_app_chargeoff_within_12_mths               108021
sec_app_num_rev_accts                          108021
sec_app_open_act_il                            108021
sec_app_mort_acc                               108021
verification_status_joint                      115730
dti_joint                                      120706
annual_inc_joint                               120710
desc                                           126067
mths_since_last_record                         359156
mths_since_recent_bc_dlq                       519701
mths_since_last_major_derog                    580775
mths_since_recent_revol_delinq                 740359
next_pymnt_d                                   957061
mths_since_last_delinq                        1102166
il_util                                       1191818
mths_since_rcnt_il                            1350744
all_util                                      1394320
inq_last_12m                                  1394538
open_acc_6m                                   1394538
total_cu_tl                                   1394538
open_rv_12m                                   1394539
inq_fi                                        1394539
max_bal_bc                                    1394539
open_rv_24m                                   1394539
total_bal_il                                  1394539
open_il_24m                                   1394539
open_il_12m                                   1394539
open_act_il                                   1394539
mths_since_recent_inq                         1965233
emp_title                                     2093699
num_tl_120dpd_2m                              2107011
emp_length                                    2113761
mo_sin_old_il_acct                            2121597
bc_util                                       2184597
percent_bc_gt_75                              2185289
bc_open_to_buy                                2185733
mths_since_recent_bc                          2187256
pct_tl_nvr_dlq                                2190237
avg_cur_bal                                   2190322
mo_sin_old_rev_tl_op                          2190391
num_rev_accts                                 2190391
mo_sin_rcnt_rev_tl_op                         2190391
num_op_rev_tl                                 2190392
num_actv_rev_tl                               2190392
num_tl_op_past_12m                            2190392
num_actv_bc_tl                                2190392
tot_hi_cred_lim                               2190392
num_tl_30dpd                                  2190392
num_tl_90g_dpd_24m                            2190392
num_rev_tl_bal_gt_0                           2190392
num_il_tl                                     2190392
num_bc_tl                                     2190392
total_il_high_credit_limit                    2190392
num_accts_ever_120_pd                         2190392
mo_sin_rcnt_tl                                2190392
total_rev_hi_lim                              2190392
tot_cur_bal                                   2190392
tot_coll_amt                                  2190392
num_sats                                      2202078
num_bc_sats                                   2202078
total_bc_limit                                2210638
total_bal_ex_mort                             2210638
acc_open_past_24mths                          2210638
mort_acc                                      2210638
title                                         2237343
last_pymnt_d                                  2258242
revol_util                                    2258866
dti                                           2258957
pub_rec_bankruptcies                          2259303
chargeoff_within_12_mths                      2260523
collections_12_mths_ex_med                    2260523
tax_liens                                     2260563
last_credit_pull_d                            2260595
inq_last_6mths                                2260638
open_acc                                      2260639
pub_rec                                       2260639
acc_now_delinq                                2260639
total_acc                                     2260639
earliest_cr_line                              2260639
delinq_2yrs                                   2260639
delinq_amnt                                   2260639
annual_inc                                    2260664
zip_code                                      2260667
grade                                         2260668
installment                                   2260668
int_rate                                      2260668
disbursement_method                           2260668
debt_settlement_flag                          2260668
home_ownership                                2260668
term                                          2260668
funded_amnt_inv                               2260668
funded_amnt                                   2260668
loan_amnt                                     2260668
verification_status                           2260668
sub_grade                                     2260668
issue_d                                       2260668
out_prncp                                     2260668
pymnt_plan                                    2260668
application_type                              2260668
policy_code                                   2260668
last_pymnt_amnt                               2260668
collection_recovery_fee                       2260668
recoveries                                    2260668
total_rec_late_fee                            2260668
total_rec_int                                 2260668
total_rec_prncp                               2260668
total_pymnt_inv                               2260668
total_pymnt                                   2260668
out_prncp_inv                                 2260668
initial_list_status                           2260668
revol_bal                                     2260668
hardship_flag                                 2260668
purpose                                       2260668
loan_status                                   2260668
addr_state                                    2260668
dtype: int64

We can see that url, id, and member_id are all 0, thus in our final dataset we will not need to ingest these columns. It appears that they originally existed in the dataset, but have since been removed perhaps for security purposes.

We can also observe that many columns null values, considering that their counts are << than 2260668. Thus next I will collect the counts that appear more than 3 times and then filter the dataset from there.

In [9]:
# get the counts that appeared more than 3 times 
arr = [value for value in countDf]
c = Counter(arr)
missing_greater3 = []
for count in c:
    if c[count] > 3:
        missing_greater3.append(count)
missing_greater3.sort()
missing_greater3
# see the % missing from counts that appeared greater than 3 times
percent_missing = [100-(x/2260668)*100 for x in missing_greater3]
percent_missing

[10613, 33056, 108021, 1394539, 2190392, 2210638, 2260639, 2260668]

[99.53053699172104,
 98.53777732953269,
 95.22172207506807,
 38.312967671502406,
 3.10863868555667,
 2.2130626876657686,
 0.0012828066748369338,
 0.0]

In [10]:
# filter out the rows that were missing > 90% of potential values
# these can be stored in a separate table later
cols_to_separate_out = countDf[countDf <= 108021]
cols_to_separate_out

id                                                 0
member_id                                          0
url                                                0
revol_bal_joint                               108020
sec_app_earliest_cr_line                      108021
sec_app_inq_last_6mths                        108021
sec_app_mort_acc                              108021
sec_app_open_acc                              108021
sec_app_revol_util                            106184
sec_app_open_act_il                           108021
sec_app_num_rev_accts                         108021
sec_app_chargeoff_within_12_mths              108021
sec_app_collections_12_mths_ex_med            108021
sec_app_mths_since_last_major_derog            35942
hardship_type                                  10613
hardship_reason                                10613
hardship_status                                10613
deferral_term                                  10613
hardship_amount                                10613
hardship_start_date                            10613
hardship_end_date                              10613
payment_plan_start_date                        10613
hardship_length                                10613
hardship_dpd                                   10613
hardship_loan_status                           10613
orig_projected_additional_accrued_interest      8426
hardship_payoff_balance_amount                 10613
hardship_last_payment_amount                   10613
debt_settlement_flag_date                      33056
settlement_status                              33056
settlement_date                                33056
settlement_amount                              33056
settlement_percentage                          33056
settlement_term                                33056
dtype: int64

## Exploring Data Types
Next we will have a look at data types, to see which features are continuous and which are categorical.

In [11]:
loans.dtypes.sort_values()

policy_code                                     int64
loan_amnt                                       int64
funded_amnt                                     int64
revol_bal                                       int64
mort_acc                                      float64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                         float64
num_actv_rev_tl                               float64
num_bc_sats                                   float64
num_bc_tl                                     float64
num_il_tl                                     float64
num_op_rev_tl                                 float64
num_rev_accts                                 float64
num_actv_bc_tl                                float64
mo_sin_rcnt_tl                                float64
id                                            float64
mo_sin_old_rev_tl_op                          float64
mo_sin_old_il_acct                            float64
delinq_amnt                                   float64
chargeoff_within_12_mths                      float64
bc_util                                       float64
bc_open_to_buy                                float64
avg_cur_bal                                   float64
acc_open_past_24mths                          float64
inq_last_12m                                  float64
settlement_percentage                         float64
inq_fi                                        float64
total_rev_hi_lim                              float64
all_util                                      float64
mo_sin_rcnt_rev_tl_op                         float64
num_rev_tl_bal_gt_0                           float64
num_tl_120dpd_2m                              float64
max_bal_bc                                    float64
settlement_amount                             float64
hardship_last_payment_amount                  float64
hardship_payoff_balance_amount                float64
orig_projected_additional_accrued_interest    float64
hardship_dpd                                  float64
hardship_length                               float64
hardship_amount                               float64
deferral_term                                 float64
sec_app_mths_since_last_major_derog           float64
sec_app_collections_12_mths_ex_med            float64
sec_app_chargeoff_within_12_mths              float64
sec_app_num_rev_accts                         float64
sec_app_open_act_il                           float64
sec_app_revol_util                            float64
sec_app_open_acc                              float64
sec_app_mort_acc                              float64
sec_app_inq_last_6mths                        float64
revol_bal_joint                               float64
total_il_high_credit_limit                    float64
total_bc_limit                                float64
total_bal_ex_mort                             float64
tot_hi_cred_lim                               float64
tax_liens                                     float64
pub_rec_bankruptcies                          float64
percent_bc_gt_75                              float64
pct_tl_nvr_dlq                                float64
num_tl_op_past_12m                            float64
num_tl_90g_dpd_24m                            float64
num_tl_30dpd                                  float64
num_sats                                      float64
open_rv_24m                                   float64
total_cu_tl                                   float64
il_util                                       float64
total_pymnt_inv                               float64
total_pymnt                                   float64
out_prncp_inv                                 float64
out_prncp                                     float64
total_acc                                     float64
revol_util                                    float64
pub_rec                                       float64
open_acc                                      float64
mths_since_last_record                        float64
mths_since_last_delinq                        float64
inq_last_6mths                                float64
open_rv_12m                                   float64
dti                                           float64
url                                           float64
annual_inc                                    float64
installment                                   float64
int_rate                                      float64
funded_amnt_inv                               float64
member_id                                     float64
total_rec_prncp                               float64
total_rec_int                                 float64
delinq_2yrs                                   float64
recoveries                                    float64
total_bal_il                                  float64
mths_since_rcnt_il                            float64
open_il_24m                                   float64
open_il_12m                                   float64
open_act_il                                   float64
total_rec_late_fee                            float64
open_acc_6m                                   float64
tot_cur_bal                                   float64
tot_coll_amt                                  float64
acc_now_delinq                                float64
settlement_term                               float64
annual_inc_joint                              float64
collection_recovery_fee                       float64
mths_since_last_major_derog                   float64
dti_joint                                     float64
collections_12_mths_ex_med                    float64
last_pymnt_amnt                               float64
verification_status_joint                      object
sub_grade                                      object
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
grade                                          object
next_pymnt_d                                   object
term                                           object
last_pymnt_d                                   object
disbursement_method                            object
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
hardship_loan_status                           object
emp_title                                      object
hardship_type                                  object
hardship_reason                                object
earliest_cr_line                               object
application_type                               object
addr_state                                     object
zip_code                                       object
title                                          object
purpose                                        object
sec_app_earliest_cr_line                       object
hardship_status                                object
desc                                           object
loan_status                                    object
initial_list_status                            object
verification_status                            object
last_credit_pull_d                             object
home_ownership                                 object
emp_length                                     object
hardship_flag                                  object
pymnt_plan                                     object
issue_d                                        object
dtype: object

It appears we have mostly continuous features (float64, int64), and some categorical data (object). From the description of some the categorical data from the data dictionary, we can observer that certain features should only have certain values. Now we can check to see if these features have <= the amount of unique values allowed for those columns.

In [12]:

# should be <= 2
print('policy code: max 2')
loans['policy_code'].nunique()
# should be <= 6
print('settlement status: max 6')
loans['settlement_status'].nunique()
# should be <= 2
print('disbursement method: max 2')
loans['disbursement_method'].nunique()
# should be <= 2
print('initial_list_status: max 2')
loans['initial_list_status'].nunique()
# should be <= 4
print('home_ownership: max 4')
loans['home_ownership'].nunique()
# should be <= 11
print('emp_length: max 11')
loans['emp_length'].nunique()

policy code: max 2

1

settlement status: max 6

3

disbursement method: max 2

2

initial_list_status: max 2

2

home_ownership: max 4

6

emp_length: max 11

11

Great! Our variables with fixed values appear to have the correct number of unique values.

## Finding Duplicate Rows
Next I wanted to see if I could find any duplicate rows that could be deleted before inserting into the database.

In [13]:
duplicatedRowsDF = loans[loans.duplicated()]
duplicatedRowsDF

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, ...]
Index: []

Because the above output was null, I wanted to ensure that the .duplicated() method was working correctly, so I performed a similar method below. After dropping duplicates, if there were any the number of rows should be less than before (2260668, 145).

In [14]:
loans.drop_duplicates(inplace= True)
loans.shape

(2260668, 145)

Since it is the same, we can conclude that there were no duplicate rows.

# Data Visualization

Now we can move on to exploring the trends in the data.

Let's look at the loan amounts over all time

In [15]:
# df_sorted = df.sort_values(by=['Date'], ascending=True)
# issue_d = The month which the loan was funded
loans['issue_d'].head()

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
Name: issue_d, dtype: object

In [17]:
loans['issue_d'] = pd.to_datetime(loans['issue_d'], infer_datetime_format=True)
loans['issue_d'].head()

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
Name: issue_d, dtype: datetime64[ns]